<section class="site-container-wide bg-sky py-24 md:pb-44">
  <a name="about" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="site-container">
    <h1 class="text-black leading-none">About</h1>
    <div class="md:grid md:grid-cols-2 md:gap-40">
      <div class="md:col-span-1">
        <p>Ich bin Patrick Steiner und habe die PS Drive Academy GmbH gegründet.</p>
        <p>In meiner beruflichen Laufbahn wurde mir schnell klar, dass ich enorm viel Freude daran habe, Menschen etwas beibringen zu dürfen. Durch meine starke Empathiefähigkeit und meiner ruhigen Art kam ich schlussendlich zum Fahrlehrer, welches meine Berufung und Leidenschaft ist.</p>
        <p>Die Zufriedenheit und der Erfolg meiner Fahrschülerinnen und Fahrschüler liegt mir sehr am Herzen. Das Autofahren soll dir genauso Spass machen wie mir. Darum bist du definitiv an der richtigen Adresse bei der PS Drive Academy GmbH.</p>
      </div>
      <figure class="mt-30 md:mt-0 md:col-span-1">
        <img src="/assets/patrick-steiner-portrait.jpg" class="w-full" width="1302" height="720" alt="Patrick Steiner"> 
      </figure>
    </div>
  </article>
</section>