<section class="site-container py-24 md:pb-44">
  <a name="kontakt" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="mb-30">
    <h1 class="text-ocean">Kontakt</h1>
  </article>
  <article class="md:grid md:grid-cols-12 md:gap-15">
    <div class="md:col-span-6">
      <h3 class="leading-6 mb-10">PS Drive Academy GmbH<br>PATRICK STEINER</h3>
      <p class="leading-6">
        <a href="https://goo.gl/maps/VUXbaztxDHnaAutv8" target="_blank" class="hover:underline underline-offset-2">
          Zihlstrasse 46b<br>8340 Hinwil
        </a><br>
        <a href="tel:0794118794" title="Telefon" class="hover:underline underline-offset-2">079 411 87 94</a><br>
        <a href="mailto:ps@drive-academy.ch" title="E-Mail" target="_blank" class="hover:underline underline-offset-2">ps@drive-academy.ch</a><br>
        <a href="https://www.drive-academy.ch" title="Webseite" target="_blank" class="hover:underline underline-offset-2">www.drive-academy.ch</a>
      </p>
    </div>
    <div class="mt-20 md:mt-0 md:col-span-6">
      <h3 class="leading-6 mb-10">EINZUGSGEBIET</h3>
      <p class="leading-6">
        Region Züri Oberland.<br>Falls du nicht aus dem Züri Oberland bist, finden wir bestimmt eine gemeinsame Lösung.
      </p>
    </div>
  </article>
</section>