<section class="site-container-wide bg-sky py-24 md:pb-44">
  <a name="anmeldung" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="site-container">
    <h1 class="text-black leading-none">Anmeldung</h1>
    <p>Der <a href="https://thomai.ch/angebot/verkehrskundeunterricht/" class="text-ocean" target="_blank">VKU</a> und <a href="https://thomai.ch/angebot/nothilfekurs/" class="text-ocean" target="_blank">Nothelferkurs</a> findet bei der Fahrschule <a href="https://thomai.ch/" class="text-ocean" target="_blank">Thomai Lüthi</a> in Bauma statt.</p>
    <div id="form-register"></div>
  </article>
</section>
{{ vite src="resources/js/form/register.js" }}