<section class="site-container py-24 md:pb-44">
  <a name="angebot" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="content mb-30">
    <h1>Willkommen bei der PS DRIVE ACADEMY</h1>
    <p>Du willst die Autoprüfung erfolgreich bestehen,<br>dann bist du bei der PS DRIVE ACADEMY am richtigen Ort!</p>
    <p>Es ist mir wichtig, dass du dich sicher und wohl auf der Strasse fühlst. Daneben soll deine Freude am Fahren nicht zu kurz kommen. Damit du bei jeder Fahrstunde Fortschritte machen kannst, begleite ich dich professionell und persönlich.</p>
    <ul>
      <li>Du wirst von Zuhause, der Arbeit oder einem Ort deiner Wahl abgeholt.</li>
      <li>Am Ende der Fahrstunde wirst du ebenfalls an einen Ort deiner Wahl gebracht.</li>
      <li>Du profitierst von einem Auto, das mit den neusten Technologien ausgerüstet ist.</li>
      <li>Bei uns kannst du alles machen, was du für deinen Führerschein brauchst: Theorieunterricht, Nothelferkurs, VKU und Fahrstunden.</li>
      <li>Durch meine erst kürzlich abgeschlossene Ausbildung zum Fahrlehrer ist mein Wissen bezüglich der Fahrausbildung auf dem neusten Stand.</li>
    </ul>
  </article>
  <article class="md:grid md:grid-cols-12 md:gap-15">
    <div class="bg-ocean px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 md:min-h-[175px] text-white">
      <h3>Fahrstunden</h3>
      <p>Profitiere von auf deine Bedürfnisse abgestimmten Fahrstunden. Du kannst sie einzeln, im 5er- oder 10er-Abo buchen.</p>
    </div>
    <div class="bg-sky px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 md:min-h-[175px]">
      <h3 class="text-black">VKU</h3>
      <p class="">Nach dem Kurs weisst du über alle theoretischen Fakten bescheid, die beim Autofahren wichtig sind.</p>
    </div>
    <div class="bg-ocean md:bg-sky px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 md:min-h-[175px] text-white md:text-black">
      <h3>Nothelferkurs</h3>
      <p>In kleinen Gruppen lernst du, was bei einem Unfall zu tun ist. Wir üben, wie in einem Ernstfall zu handeln ist.</p>
    </div>
    <div class="bg-sky md:bg-ocean px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 md:min-h-[175px] text-black md:text-white">
      <h3>Theorieunterricht</h3>
      <p>Zusammen bereiten wir uns auf die Theorieprüfung vor. Du lernst alle Regeln und wie du dich Zuhause optimal vorbereiten kannst.</p>
    </div>
    <div class="bg-ocean px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 md:min-h-[175px] text-white">
      <h3>Kontrollfahrt</h3>
      <p>Um die Verkehrssicherheit zu gewährleisten, kann die Kontrollfahrt bei mir gemacht werden. So fühlst du dich stets sicher auf den Strassen.</p>
    </div>
    <div class="bg-sky px-15 md:px-25 py-30 md:py-40 mb-15 md:mb-0 md:col-span-6 md:min-h-[175px] text-black">
      <h3>Taxi-BPT-Prüfung</h3>
      <p>Speziell auf die Taxi-BPT-Prüfung ausgelegte Fahrstunden, damit du deinen Taxiausweis machen kannst.</p>
    </div>
  </article>
</section>