<section class="site-container-wide bg-sky py-24 md:pb-44">
  <a name="partner" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="site-container">
    <h1 class="text-black leading-none">Partner</h1>
    <div class="grid grid-cols-12 gap-20">
      <div class="col-span-6 md:col-span-3">
        <a href="https://stoz.ch/" target="_blank" title="Stoz Werbeagentur">
          <img src="/img/logo-partner-stoz-werbeagentur.png" alt="Stoz Werbeagentur" class="block w-full h-auto" loading="lazy">
        </a>
      </div>
      <div class="col-span-6 md:col-span-3">
        <a href="https://www.mobiliar.ch/" target="_blank" title="Mobiliar Versicherungen & Vorsorge">
          <img src="/img/logo-partner-mobiliar.png" alt="Mobiliar" class="block w-full h-auto" loading="lazy">
        </a>
      </div>
      <div class="col-span-6 md:col-span-3">
        <a href="https://www.atw-ag.ch/" target="_blank" title="Autoteile Wetzikon">
          <img src="/img/logo-partner-autoteile-wetzikon.png" alt="Autoteile Wetzikon" class="block w-full h-auto" loading="lazy">
        </a>
      </div>
    </div>
  </article>
</section>
<section>
  <figure>
    <img src="/assets/patrick-steiner-strasse-pylonen.jpg" width="2000" height="573" class=" block w-full h-auto" alt="Patrick Steiner - Fahrschüler">
  </figure>
</section>