<section class="site-container-wide bg-sky py-24 md:pb-44">
  <a name="partner" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="site-container">
    <h1 class="text-black leading-none">Partner</h1>
    <div class="grid grid-cols-12 gap-20">
      <div class="col-span-6 md:col-span-3">
        <img src="/img/logo-partner-stoz-werbeagentur.png" alt="Stoz Werbeagentur" class="block w-full h-auto" loading="lazy">
      </div>
      <div class="col-span-6 md:col-span-3">
        <img src="/img/logo-partner-mobiliar.png" alt="Mobiliar" class="block w-full h-auto" loading="lazy">
      </div>
      <div class="col-span-6 md:col-span-3">
        <img src="/img/logo-partner-autoteile-wetzikon.png" alt="Autoteile Wetzikon" class="block w-full h-auto" loading="lazy">
      </div>
    </div>
    {{# <div class="md:grid md:grid-cols-2 md:gap-40">
      <div class="md:col-span-1">
        <p>Ich bin Patrick Steiner und habe die PS DRIVE ACADEMY gegründet.</p>
        <p>In meiner beruflichen Laufbahn wurde mir schnell klar, dass ich enorm viel Freude daran habe, Menschen etwas beibringen zu dürfen. Durch meine starke Empathiefähigkeit und meiner ruhigen Art kam ich schlussendlich zum Fahrlehrer, welches meine Berufung und Leidenschaft ist. Meine Ausbildung absolvierte ich in einem Intensiv-Jahr und schloss die Ausbildung im Jahr 2023 erfolgreich ab.</p>
        <p>Die Zufriedenheit und der Erfolg meiner Fahrschülerinnen und Fahrschüler liegt mir sehr am Herzen. Das Autofahren soll dir genauso Spass machen wie mir. Darum bist du definitiv an der richtigen Adresse bei der PS DRIVE ACADEMY.</p>
      </div>
    </div> #}}
  </article>
</section>
<section>
  <figure>
    <img src="/assets/patrick-steiner-strasse-pylonen.jpg" width="2000" height="573" class=" block w-full h-auto" alt="Patrick Steiner - Fahrschüler">
  </figure>
</section>