<section class="site-container py-24 md:pb-44">
  <a name="preise" class="scroll-mt-80 md:scroll-mt-125"></a>
  <article class="mb-30">
    <h1 class="text-ocean">Preise</h1>
  </article>
  <article class="md:grid md:grid-cols-12 md:gap-15">
    <div class="bg-ocean px-15 md:px-25 py-15 md:py-20 mb-15 md:mb-0 md:col-span-6 text-white">
      <div class="lg:grid lg:grid-cols-2 gap-30">
        <h3 class="lg:mb-0 col-span-1">Fahrstunden</h3>
        <table class="lg:col-span-1 w-full">
          <tr>
            <td>Einzeln</td>
            <td>CHF</td>
            <td class="text-right">100.00</td>
          </tr>
          <tr>
            <td>5er-Abo</td>
            <td>CHF</td>
            <td class="text-right">475.00</td>
          </tr>
          <tr>
            <td>10er-Abo</td>
            <td>CHF</td>
            <td class="text-right">900.00</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bg-sky px-15 md:px-25 py-15 md:py-20 mb-15 md:mb-0 md:col-span-6">
      <div class="lg:grid lg:grid-cols-2 gap-30">
        <h3 class="lg:mb-0 col-span-1">Taxi-BPT-Prüfung</h3>
        <table class="lg:col-span-1 w-full">
          <tr>
            <td>Einzeln</td>
            <td>CHF</td>
            <td class="text-right">100.00</td>
          </tr>
          <tr>
            <td>5er-Abo</td>
            <td>CHF</td>
            <td class="text-right">475.00</td>
          </tr>
          <tr>
            <td>10er-Abo</td>
            <td>CHF</td>
            <td class="text-right">900.00</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bg-ocean md:bg-sky px-15 md:px-25 py-15 md:py-20 mb-15 md:mb-0 md:col-span-6 text-white md:text-black">
      <div class="lg:grid lg:grid-cols-4 gap-30">
        <h3 class="lg:mb-0 lg:col-span-3">Nothelferkurs</h3>
        <table class="lg:col-span-1 w-full">
          <tr>
            <td class="w-40 lg:w-auto">CHF</td>
            <td class="lg:text-right">120.00</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bg-sky md:bg-ocean px-15 md:px-25 py-15 md:py-20 mb-15 md:mb-0 md:col-span-6 text-black md:text-white">
      <div class="lg:grid lg:grid-cols-4 gap-30">
        <h3 class="lg:mb-0 lg:col-span-3">VKU</h3>
        <table class="lg:col-span-1 w-full">
          <tr>
            <td class="w-40 lg:w-auto">CHF</td>
            <td class="lg:text-right">240.00</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bg-ocean px-15 md:px-25 py-15 md:py-20 mb-15 md:mb-0 md:col-span-6 text-white">
      <div class="lg:grid lg:grid-cols-4 gap-30">
        <h3 class="lg:mb-0 lg:col-span-3">Kontrollfahrt</h3>
        <table class="lg:col-span-1 w-full">
          <tr>
            <td class="w-40 lg:w-auto">CHF</td>
            <td class="lg:text-right">95.00</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bg-sky px-15 md:px-25 py-15 md:py-20 mb-15 md:mb-0 md:col-span-6 text-black">
      <div class="lg:grid lg:grid-cols-4 gap-30">
        <h3 class="lg:mb-0 lg:col-span-3">Theorieunterricht</h3>
        <table class="lg:col-span-1 w-full">
          <tr>
            <td class="w-40 lg:w-auto">CHF</td>
            <td class="lg:text-right">50.00</td>
          </tr>
        </table>
      </div>
    </div>
  </article>
</section>